body {
  background-color: #f5f5f5;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.banner {
  color: #fff;
  background-color: #2196f3;
  padding-left: 80px;
  height: 4%;
}

.img {
  background-image: url(/images/mountain.jpeg);
  background-size:cover;
  height: 32%;
}

.heading-text {
  color: #fff;
  font-weight: extra-bold;
  font-size: 40px;
  padding-left: 80px;
}

.map {
  height: 32%;
  background-color: #0d47a1;
}

.footer {
  height: 32%;
  font-weight: lighter;
  text-align: center;
  background-color: #fff;  
}

.footer p {
  color: #8c8c8c;
  font-weight: 100;
  font-size: 14px;
}

#mapContainer {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}

.highcharts-container {
  background-color: #0d47a1;  
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}