extends layout
    
block footer
    h2 #{state} Voters Love Stock Photos of Mountains
    p Percent of Colorado Voters who say stock photos of mountains are 'Cool' or 'Very Cool':
    #gauge
    p ALL VOTERS