doctype html
html
  head
     style
       include ../style.css
     title= 'State Poll'
     meta(name="viewport" content="width=device-width, initial-scale=1")
     link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet")
  body
    .banner
      block banner
        h3 name
    .img
      h1.heading-text Stock Photos of Nice Mountains For #{America}
    .map
      block map
        h3 the clickable High Charts needs to go here
    .footer
      block footer
        
      