doctype html
html
  head
     style
       include ../style.css
     title= 'State Poll'
     meta(name="viewport" content="width=device-width, initial-scale=1")
     link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet")
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
     script(src="http://code.highcharts.com/highcharts.js")
     script(src="http://code.highcharts.com/maps/modules/map.js")
     script(src="http://code.highcharts.com/maps/modules/boost-canvas.src.js")
     script(src="http://code.highcharts.com/maps/modules/boost.js")
     script(src="http://code.highcharts.com/mapdata/countries/us/us-all.js")
     script(src="https://code.highcharts.com/maps/modules/drilldown.js")
     script(src="http://code.highcharts.com/highcharts-more.js")
     script(src="https://code.highcharts.com/modules/solid-gauge.js")
     script(src="../javascript/solidGauge.js")
     script(src="../javascript/nationalMap.js")
     
     
  body
    .banner
      block banner
        h3 name
    .img
      h1.heading-text Stock Photos of Nice Mountains For #{America}
    .map
      #mapContainer
    .footer
      block footer
        
      