doctype html
html
  head
     style
       include ../style.css
     title= 'State Poll'
     meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block banner
      h1.banner name
    block image
      h4 this is clickable map
    block map
      content here
    block footer
      