doctype html
html
 head
   title= 'State Poll'
   meta(name="viewport" content="width=device-width, initial-scale=1")
body
 block header
   h1 This is header in layout
div    
  block content
    h4 this is the content start 